@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f2fe;
    color: #222;
}

.underlinee {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    width: fit-content;
}

.underlinee::after {
    content: '';
    width: 75%;
    height: 0.15em;
    background: #f97316;
    position: absolute;
    bottom: -5px;
    left: 0;
    margin-left: 1px;
}
